<!DOCTYPE html>
<html>
<head>
  <title>Newsington News</title>
  <script src="/js/jquery.js"></script>
  <script src="/js/sugar.js"></script>
  <script src="/js/script.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/index.css" />
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <link rel="icon" sizes="192x192" href="/assets/logo.png">
  <meta charset="utf-8" name="viewport" content= "width=device-width, initial-scale=1.0">
</head>
<body>
<nav class="Nav">
  <h1 class="Newsington-logo" onclick="window.scrollTo({top: 0, behavior: 'smooth'});"><span>//</span> Newsington News <span>//</span></h1>
  <ul id="Nav-ul">
    <li><a href="/newsington/users/profile" title="">home</a></li>
    <li><a href="/newsington/" title="">top news</a></li>
    <li><a href="/newsington/us" title="">us</a></li>
    <li><a href="/newsington/tech" title="">tech</a></li>
    <li><a href="/newsington/business" title="">business</a></li>
    <li><a href="/newsington/sports" title="">sports</a></li>
    <li><a href="/newsington/users/update" title="">update profile</a></li>
  </ul>
  <a href="/newsington/users/logout" >
    <div class="button logout"> logout </div>
  </a>
  <div class="Nav-burger-icon"></div>
</nav>
<div class="Login-container">
  <div class="Login-div">
  <div class="Close-button" onclick="
          document.querySelector('.Login-container').classList.remove('active');
          document.querySelector('body').style.overflow = 'scroll';
          setTimeout(() => {
            document.querySelector('.Login-container').style.zIndex = -1000;
          }, 500);
          "></div>
    <h3> log in </h3>
    <form action="/newsington/users/login" method="POST" accept-charset="utf-8">
      <input type="text" name="user[email]" placeholder="email">
      <input class="password-input" type="password" name="user[password]" placeholder="password">
      <a class="sign-up-link" href="/newsington/users/signup">sign up</a>
      <button type="submit"> log in </button>
    </form>
  </div>
</div>
<h1 class="Category-title">latest news from {{category}}</h1>
<div class="News-container-div">  
  {{ #data }}
  <a class="News-item-link" href="{{url}}" target="_blank" id="read-more">
    <div class="News-item" id="news-img" style="background-image: url('{{ urlToImage }}'); background-size: cover; background-position: center;">
      <h5>READ MORE...</h5>
      <div class="News-item-title-parent">
        <h3 class="News-item-title">{{ title }}</h3>
      </div>
      <p class="News-item-description">{{ description }}</p>
    </div>
  </a>
  {{ /data }}
</div>
<div class="Footer-container">
  <h2 class="footer-header">Newsington News</h2>
  <div class="footer-links">
    <div class="group-one">
      <li><a href="/newsington/users/profile" title="">home</a></li>
      <li><a href="/newsington/" title="">top news</a></li>
      <li><a href="/newsington/us" title="">us</a></li>
      <li><a href="/newsington/tech" title="">tech</a></li>
      <li><a href="/newsington/business" title="">business</a></li>
      <li><a href="/newsington/sports" title="">sports</a></li>
    </div>
    <div class="group-two">
      <li><a href="" title="">terms of service</a></li>
      <li><a href="" title="">about</a></li>
      <li><a href="" title="">careers</a></li>
      <li><a href="" title="">faq</a></li>
      <li><a href="" title="">privacy policy</a></li>
    </div>
  </div>
  <div class="footer-bottom-text">
      <a href="https://newsapi.org" target="_blank">Powered by News API</a><br/>
      COPYRIGHT &copy; 2019, Newsington Media. ALL RIGHTS RESERVED
  </div>
</div>
</body>
</html>
<script>
  const newsItems = $('.News-item-link') ? $('.News-item-link') : 0;
  if ( newsItems !== 0 ) for (let i = 0; i < 2; i++) newsItems[i].setAttribute("id", "Headline");
</script>


