<!DOCTYPE html>
<html>
<head>
  <title></title>
  <script src="/js/jquery.js"></script>
  <script src="/js/script.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
</head>
<body style="font-family: 'Archivo Narrow', sans-serif;">
  
</style>

<nav>
  <h1 id="nav">Newsington News</h1>
  <ul>
    <li><a href="/newsington/world" title="">world</a></li>
    <li><a href="/newsington/tech" title="">tech</a></li>
    <li><a href="/newsington/business" title="">business</a></li>
    <li><a href="/newsington/users/profile" title="">profile</a></li>
  </ul>
</nav>
<div id="shadow-div"></div>


<h1 id="title">latest news and stuff from {{category}}</h1>
<div id="index-parent-div">

{{ #data }}
<div class="news-item-div">
<h3>{{ title }}</h3>

<div id="news-img" style="background: url('{{ urlToImage }}'); background-size: cover; background-position: center;">

</div>

<p>{{ description }}</p>

{{ /data }}
</div>
</div>
<script>
  
  var titles  = document.querySelectorAll('h3');
  var newsDiv = document.querySelectorAll('div');
  var descriptions = document.querySelectorAll('p');

  // for (var i = 2; i < newsDiv.length; i++) {
 
  //   newsDiv[i].className = "news-item-div"
  // }

   for (var r = 0; r < titles.length; r++) {
 
    titles[r].style = "text-align: center; margin: 15px 0px 10px 0px;"
  }

  for (var w = 0; w < titles.length; w++) {
 
    descriptions[w].style = "padding-top: 15px; padding-bottom: 5px; margin-bottom: 130px;"
  }


</script>
</body>
</html>



