<!DOCTYPE html>
<html id="login-html">
<head>
  <title>Login</title>
  <script src="/js/jquery.js"></script>
  <script src="/js/script.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
</head>
<body id="login-body">
  <nav id="login-nav">
   <a href="/newsington/"><h1 id="login-nav">Newsington News </h1></a>
</nav>
<div id="login-parent">
  
</div>
  <div id="login-div">
    <img id="login-img" src="/assets/user.png"><br>
    <form action="/newsington/users/login" method="POST" accept-charset="utf-8">
      <h4 id="login-label"></h4>
      <input type="text" name="user[email]" placeholder="email"></input>
      <h4 id="login-label"></h4>
      <input type="password" name="user[password]" placeholder="password"></input>
      <a id="sign-up" href="/newsington/users/signup">sign-up</a>
      <button type="submit"> LOGIN </button>
    </form>
    
  </div>
</div>  

</body>
</html>