<!DOCTYPE html>
<html>
<head>
  <title>Newsington News - Home</title>
  <script src="/js/jquery.js"></script>
  <script src="/js/script.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/index.css" />
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <link rel="icon" sizes="192x192" href="/assets/logo.png">
  <meta charset="utf-8" name="viewport" content= "width=device-width, initial-scale=1.0">
</head>
<body>
<nav class="Nav">
  <h1 class="Newsington-logo"><span>//</span> Newsington News <span>//</span></h1>
  <ul id="Nav-ul">
    <li><a href="/newsington/users/profile" title="">home</a></li>
    <li><a href="/newsington/" title="">top news</a></li>
    <li><a href="/newsington/us" title="">us</a></li>
    <li><a href="/newsington/tech" title="">tech</a></li>
    <li><a href="/newsington/business" title="">business</a></li>
    <li><a href="/newsington/sports" title="">sports</a></li>
    <li><a href="/newsington/users/update" title="">update profile</a></li>
  </ul>
  <a href="/newsington/users/logout" >
    <div class="button logout"> logout </div>
  </a>
  <div class="Nav-burger-icon"></div>
</nav>
<div class="Profile-news-container">  
  <h1 class="welcome-h1"> Welcome {{ fname }}!</h1>
  <h1 id="source">latest news from your favorite source <span id="fetch-this">{{ favorite }}</span></h1>
  <div class="Header-article"></div>
  <div class="Profile-article-container"></div>
</div>
<div class="Footer-container">
  <h2 class="footer-header">Newsington News</h2>
  <div class="footer-links">
    <div class="group-one">
      <li><a href="/newsington/users/profile" title="">home</a></li>
      <li><a href="/newsington/" title="">top news</a></li>
      <li><a href="/newsington/us" title="">us</a></li>
      <li><a href="/newsington/tech" title="">tech</a></li>
      <li><a href="/newsington/business" title="">business</a></li>
      <li><a href="/newsington/sports" title="">sports</a></li>
    </div>
    <div class="group-two">
      <li><a href="" title="">terms of service</a></li>
      <li><a href="" title="">about</a></li>
      <li><a href="" title="">careers</a></li>
      <li><a href="" title="">faq</a></li>
      <li><a href="" title="">privacy policy</a></li>
    </div>
  </div>
  <div class="footer-bottom-text">
      <a href="https://newsapi.org" target="_blank">Powered by News API</a><br/>
      COPYRIGHT &copy; 2019, Newsington Media. ALL RIGHTS RESERVED
  </div>
</div>
</div>
</body>
</html>


