<!DOCTYPE html>
<html>
<head>
  <title>Profile</title>
  <script src="/js/jquery.js"></script>
  <script src="/js/script.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">


</head>
<body>

<nav id="nav">
  <h1>Newsington News</h1>
  <ul id="nav-ul">
    <li><a href="/newsington/topnews" title="">top news</a></li>
    <li>
    <li><a href="/newsington/us" title="">us</a></li>
    <li><a href="/newsington/tech" title="">tech</a></li>
    <li><a href="/newsington/business" title="">business</a></li>
     <li><a href="/newsington/users/update" title="">update profile</a></li>
    <li><a href="/newsington/users/logout" title="">logout</a></li>
  </ul><h4 id=temp>{{temp}}&#186;f</h4><h5 id="city"><image id="weather-icon" src={{imgurl}}>{{location}}</h5>
</nav>


<h1 id="welcome-h1"> Welcome {{ fname }} {{ lname }}!</h1>


<h1 id="source">latest news from</h1> <h1 style="text-align: center; margin-bottom: 28px;"><span id="fetch-this">{{ favorite }}</span></h1>



<div id="footer-profile">

  <h2 id="footer-header">Newsington News</h2>
  <div id="footer-social-media">
    <div id="twitter"></div>
    <div id="insta"></div>
    </div>
  </div>

  <div id="footer-links-profile">
    
    <li><a href="" title="">terms of service <span class="bullets"> &bull;</span></a></li>
    <li><a href="" title="">about <span class="bullets"> &bull;</span></a></li>
    <li><a href="" title="">privacy policy</a></li>
    
  </div>

<div id=footer-bottom-text-profile><span>Newsington News</span><br>
    COPYRIGHT &copy; 2018, Newsington Media. ALL RIGHTS RESERVED</div>
  

</div>

<script>
  
window.addEventListener('scroll', detectScrollY);

  function detectScrollY(){

    //console.log(window.innerWidth, window.scrollY)

    var nav = document.querySelectorAll('#nav');
    var navH1 = document.querySelectorAll('#nav h1');
    var navUl = document.querySelectorAll('#nav-ul');
    var temp = document.querySelectorAll('#temp');
    var city = document.querySelectorAll('#city');

     if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) && window.scrollY < 180){
     nav[0].style = "height: 210px; transition: .3s;"
     navH1[0].style = "font-size: 12vw; transition: .4s;"
     navUl[0].style = "opacity: 1; transition 2s; display: inline-block;"
     temp[0].style = "top: -79px;"
     city[0].style = "display: block; transition: .5s;"
    }
    if(/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) && window.scrollY > 180){
     nav[0].style = "height: 100px; transition: .5s; padding-bottom: 8px;"
     navH1[0].style = "font-size: 64pt; transition: .3s;"
     navUl[0].style = "opacity: 0; transition: .3s; display: none;"
     temp[0].style = "top: -42px;"
     city[0].style = "display: none; transition: .3s;"
    }
    else if(window.scrollY < 180){
     nav[0].style = "height: 100px; transition: .3s;"
     navH1[0].style = "font-size: 37pt; transition: .4s;"
     navUl[0].style = "opacity: 1; transition 2s; display: inline-block;"
     temp[0].style = "top: -79px;"
     city[0].style = "display: block; transition: .5s;"
    }
    else if( window.scrollY > 180){
     nav[0].style = "height: 42px; transition: .5s; padding-bottom: 8px;"
     navH1[0].style = "font-size: 33pt; transition: .3s;"
     navUl[0].style = "opacity: 0; transition: .3s; display: none;"
     temp[0].style = "top: -42px;"
     city[0].style = "display: none; transition: .3s;"
    }
  
  }

</script>

</body>
</html>


