<!DOCTYPE html>
<html id="form-html">
<head>
  <title>Sign-up</title>
  <script src="/js/jquery.js"></script>
  <script src="/js/script.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
</head>
<body>
  <nav>
  <h1 id="nav">Newsington News </h1>
  
</nav>


  <div id="signup-div">
    

     
    <form action="/newsington/users" method="POST" accept-charset="utf-8">
     <h3 id="sign-up-h3">sign-up</h3>
      
       <h4 id="signup-label">choose favorite news source</h4>
      <input id="signup-input" type="text" name="user[fname]" placeholder="first name"></input><br/>
      <input id="signup-input" type="text" name="user[lname]" placeholder="last name"></input><br/>
      <input id="signup-input" type="text" name="user[email]" placeholder="email"></input><br/>
      <input id="signup-input" type="password" name="user[password]" placeholder="password"></input>
    
     <select id="signup-select" name="user[favorite_source]">
     <option value="abc-news">ABC</option>
     <option value="associated-press">AP</option>
     <option value="bbc-news">BBC</option>
     <option value="the-guardian-uk">Guardian</option>
     <option value="google-news">Google</option>
    </select>
      <button id="signup-submit" type="submit"> SIGN UP </button>
    </form>
    
  </div>
</div>  

</body>
</html>