<!DOCTYPE html>
<html>
<head>
  <title>Newsington Log-in</title>
  <script src="/js/jquery.js"></script>
  <script src="/js/script.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
</head>
<body>
  <nav>
  <h1 id="nav">Newsington News </h1>
    <div id="shadow-div-login"></div>
</nav>
<div id="signup-parent">
  
</div>

  <div id="signup-div">
    <h2 id="sign-up-h2">sign up</h2>

     
    <form action="/newsington/users" method="POST" accept-charset="utf-8">
     
      <h4 id="signup-label" >first name</h4>
      <h4 id="signup-label" >last name</h4>
      <h4 id="signup-label" >email</h4>
      <h4 id="signup-label" >password</h4><br/>
       <h4 id="signup-label">choose favorite news source</h4>
      <input type="text" name="user[fname]"></input><br/>
      <input type="text" name="user[lname]"></input><br/>
      <input type="text" name="user[email]"></input><br/>
      <input type="password" name="user[password]"></input>
    
     <select id="signup-select" name="user[favorite_source]">
     <option value="abc-news">ABC</option>
     <option value="associated-press">AP</option>
     <option value="bbc-news" name="user[favorite_source]">BBC</option>
     <option value="the-guardian-uk">Guardian</option>
     <option value="google-news">Google</option>
    </select>
      <button id="signup-submit" type="submit"> SUBMIT </button>
    </form>
    
  </div>
</div>  

</body>
</html>