<!DOCTYPE html>
<html id="form-html">
<head>
  <title>Newsington News - Update Account</title>
  <script src="/js/jquery.js"></script>
  <script src="/js/script.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/index.css" />
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <link rel="icon" sizes="192x192" href="/assets/logo.png">
  <meta charset="utf-8" name="viewport" content= "width=device-width, initial-scale=1.0">
</head>
<body>
<nav class="Nav">
  <h1 class="Newsington-logo"><span>//</span> Newsington News <span>//</span></h1>
  <ul id="Nav-ul">
    <li><a href="/newsington/users/profile" title="">home</a></li>
    <li><a href="/newsington/" title="">top news</a></li>
    <li><a href="/newsington/us" title="">us</a></li>
    <li><a href="/newsington/tech" title="">tech</a></li>
    <li><a href="/newsington/business" title="">business</a></li>
    <li><a href="/newsington/sports" title="">sports</a></li>
    <li><a href="/newsington/update" title="">update profile</a></li>
  </ul>
  <a href="/newsington/users/logout" >
    <div class="button logout"> logout </div>
  </a>
  <div class="Nav-burger-icon"></div>
</nav>
</div>  
<div class="Sign-up-container">
    <h3 class="sign-up-header">update profile</h3>
    <form action="" method="" accept-charset="utf-8">
    {{#data}}
      <input type="text" id="signup-input" name="fname" value= {{fname}} placeholder="first name"></input><br/>
      <input type="text" id="signup-input" name="lname" value= {{lname}} placeholder="last name"></input><br/>
      <input type="password" id="signup-input" name="passwordDigest" placeholder="password"></input>
      </select>
      <h4 id="signup-label" class="news-source-label">choose your favorite news source</h4>
      <select id="signup-select" class="news-source-select" name="favorite_source">
        <option value="abc-news">ABC</option>
        <option value="al-jazeera-english">Al Jazeera English</option>
        <option value="associated-press">AP</option>
        <option value="axios">Axios</option>
        <option value="bbc-news">BBC</option>
        <option value="business-insider">Business Insider</option>
        <option value="buzzfeed">Buzzfeed</option>
        <option value="cnn">CNN</option>
        <option value="daily-mail">Daily Mail</option>
        <option value="the-guardian-uk">Guardian</option>
        <option value="google-news">Google</option>
        <option value="msnbc">MSNBC</option>
        <option value="politico">Politico</option>
        <option value="the-verge">The Verge</option>
        <option value="the-wall-street-journal">The Wall Street Journal</option>
        <option value="vice-news">Vice News</option>
      </select>
      <input id="update-button" type="hidden" id="id" name="id" value= {{id}}></input>
      {{/data}}
      <button id="signup-submit" class="button" type="submit"> update </button>
    </form>
    <a id="delete-link" href="/newsington/users/profile/delete">delete my account</a>
  </div>
</div>  
</body>
<div class="Footer-container">
  <h2 class="footer-header">Newsington News</h2>
  <div class="footer-links">
    <div class="group-one">
      <li><a href="/newsington/users/profile" title="">home</a></li>
      <li><a href="/newsington/" title="">top news</a></li>
      <li><a href="/newsington/us" title="">us</a></li>
      <li><a href="/newsington/tech" title="">tech</a></li>
      <li><a href="/newsington/business" title="">business</a></li>
    </div>
    <div class="group-two">
      <li><a href="" title="">terms of service</a></li>
      <li><a href="" title="">about</a></li>
      <li><a href="" title="">careers</a></li>
      <li><a href="" title="">faq</a></li>
      <li><a href="" title="">privacy policy</a></li>
    </div>
  </div>
  <div class="footer-bottom-text">
      <a href="https://newsapi.org" target="_blank">Powered by News API</a><br/>
      COPYRIGHT &copy; 2019, Newsington Media. ALL RIGHTS RESERVED
  </div>
</div>
</html>