<!DOCTYPE html>
<html>
<head>
  <title>Newsington Log-in</title>
  <script src="/js/jquery.js"></script>
  <script src="/js/script.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow" rel="stylesheet">
</head>
<body>
  <nav>
  <h1 id="nav">Newsington News </h1>
    <div id="shadow-div-login"></div>
</nav>
<div id="signup-parent">
  
</div>

  <div id="signup-div">
    <h2 id="sign-up-h2">update profile</h2>

     
    <form id="update-form" action="" method="" accept-charset="utf-8">
      {{#data}}
     
      <h4 id="update-label" >first name</h4>
      <h4 id="update-label" >last name</h4>
      <h4 id="update-label" >password</h4><br/>
       <h4 id="update-label">choose favorite news source</h4>
      <input type="text" id="fname" name="fname" value= {{fname}}></input><br/>
      <input type="text" id="lname" name="lname" value= {{lname}}></input><br/>
      <input type="password" id="passwordDigest" name="passwordDigest"></input>
    
     <select style="top: -30px; position: relative; left: -150px;" name="favorite_source">
     <option value="abc-news">ABC</option>
     <option value="associated-press">AP</option>
     <option value="bbc-news">BBC</option>
     <option value="the-guardian-uk">Guardian</option>
     <option value="google-news">Google</option>
    </select><br/>
    <input id="update-button" type="hidden" id="id" name="id" value= {{id}}></input>
     {{/data}}
      <input style="top: 82px;" type="submit" value="submit"></input>
    </form>
    
  </div>
</div>  

</body>
</html>