@font-face {
  font-family: OpenSans;
  src: url("./fonts/OpenSans-Light.ttf");
}
* {
  margin: 0;
}
#delete-link {
  color: red;
  position: absolute;
  text-align: center;
  bottom: 37px;
  right: 365px;
}
nav h1 {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 37pt;
  margin: 0;
  letter-spacing: 1px;
  font-style: italic;
  color: rgb(202, 249, 96);
}
ul {
  margin: 0;
  padding: 0;
  height: 24px;
  line-height: 20px;
  padding-top: 12px;
  padding-bottom: 8px;
  display: inline-block;
  width: 100vw;
}
#temp {
  position: relative;
  color: white;
  font-weight: normal;
  top: -79px;
  text-align: right;
  right: 67px;
  font-size: 19pt;
  font-family: "OpenSans";
}
#city {
  text-align: right;
  color: white;
  position: relative;
  word-spacing: 1px;
  top: -86px;
  right: 56px;
  font-family: "Archivo Narrow", sans-serif;
}
li {
  display: inline-block;
  color: red;
  margin-top: 5px;
}
a {
  text-decoration: none;
  color: white;
  transition: 0.5s;
  font-size: 15pt;
  margin: 5px 0px;
  font-family: "Archivo Narrow", sans-serif;
  word-spacing: -1px;
}
a:hover {
  text-decoration: none;
  color: rgb(202, 249, 96);
  transition: 0.5s;
}
#source {
  text-align: center;
  font-size: 30pt;
  margin: 32px;
  font-style: italic;
}
#fetch-this {
  color: white;
  background: red;
  padding: 10px;
  border-radius: 7px;
}
nav {
  padding-top: 100px;
  margin-top: -96px;
  background-color: black;
  text-align: center;
  word-spacing: 10px;
  top: 0;
  width: 100vw;
}
#weather-icon {
  height: 20px;
  width: 25px;
}
#nav {
  position: fixed;
  display: inline-block;
  background: black;
  top: 0;
  height: 100px;
  width: 100%;
  box-shadow: 0 0 8px black;
}
#newsdiv {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
#news-img {
  width: 100%;
  height: 380px;
}
html {
  background: rgba(0, 0, 0, 0.098);
  /*overflow-x: hidden;*/
}
#login-nav {
  left: 0;
  height: 60px;
  box-shadow: 0px 3px 13px -2px rgba(0, 0, 0, 0.5);
}
#login-label {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 10pt;
  color: lightgrey;
  top: 218px;
  position: relative;
  left: -56px;
}
#login-header {
  position: relative;
  text-align: center;
  top: 160px;
  left: -56px;
  font-family: "Archivo Narrow", sans-serif;
  font-weight: normal;
  font-size: 17pt;
  margin-bottom: 13px;
  margin-top: 12px;
}
#login-div {
  display: flex;
  justify-content: center;
  background: white;
  height: 460px;
  width: 330px;
  border-radius: 7px;
  box-shadow: 0px 0px 28px 0px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
#login-div input {
  position: relative;
  top: 175px;
  left: -56px;
  height: 25px;
  width: 200px;
  margin-bottom: 20px;
  font-size: 13pt;
  padding: 7px;
  font-weight: lighter;
}
#login-div input:nth-of-type(1) {
  margin-top: 35px;
}
#login-div button {
  font-family: "Archivo Narrow", sans-serif;
  position: relative;
  top: 234px;
  left: -62px;
  height: 35px;
  width: 120px;
  background: rgba(70, 136, 241, 1);
  color: white;
  font-size: 13pt;
  border-radius: 7px;
  border: none;
  transition: 0.4s;
}
#login-div button:hover {
  transition: 0.4s;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}
#login-img {
  height: 120px;
  width: 120px;
  position: relative;
  left: 108px;
  top: 55px;
}
input {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 7px;
}
#sign-up {
  position: relative;
  color: blue;
  top: 186px;
  left: 23px;
  cursor: pointer;
  font-size: 17px;
}
#signup-input {
  height: 25px;
  width: 200px;
  margin-bottom: 20px;
  font-size: 13pt;
  padding: 7px;
  font-weight: lighter;
}
#signup-div {
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  width: 500px;
  background: white;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.2);
  padding: 0 22px 0 22px;
  margin-top: 0px;
}
#signup-div input {
  position: relative;
  top: 70px;
  left: 61px;
  height: 25px;
  width: 200px;
  margin-bottom: 13px;
  font-size: 13pt;
  margin: 12px;
}
#signup-div select {
  top: 76px;
  position: relative;
  right: -78px;
}
#signup-label {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 13pt;
  color: lightgrey;
  top: 470px;
  position: relative;
  left: 61px;
  line-height: 44px;
}
#sign-up-h2 {
  font-family: "Archivo Narrow", sans-serif;
  top: 45px;
  left: 28px;
  font-size: 34px;
  line-height: 40px;
  position: relative;
}
#sign-up-h3 {
  font-family: "Archivo Narrow", sans-serif;
  top: 85px;
  left: 30px;
  font-size: 34px;
  line-height: 40px;
  position: relative;
}
#signup-select {
  height: 23px;
  width: 100px;
  font-size: 12pt;
  position: relative !important;
  top: 156px !important;
  left: -142px;
}
#signup-submit {
  font-family: "Archivo Narrow", sans-serif;
  position: relative;
  top: 280px;
  left: -123px;
  height: 35px;
  width: 120px;
  background: rgba(70, 136, 241, 1);
  color: white;
  font-size: 13pt;
  border-radius: 7px;
  transition: 0.4s;
  border: none;
}
#signup-submit:hover {
  transition: 0.4s;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}
.news-item-div {
  height: 440px;
  width: 100%;
  border-radius: 15px;
  padding: 20px 0px 20px 0px;
}
#index-parent-div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
h1 {
  font-family: "Archivo Narrow", sans-serif;
}
h2 {
  font-family: "Archivo Narrow", sans-serif;
}
#title {
  padding: 10px 0;
  text-align: center;
  width: 100vw;
  color: black;
  margin: 120px auto 0 auto;
  font-size: 6vw;
  text-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  margin-bottom: -6px;
}
#update-label {
  font-family: "Archivo Narrow", sans-serif;
  font-size: 13pt;
  color: lightgrey;
  top: 372px;
  position: relative;
  left: 61px;
  line-height: 44px;
  width: 190px;
}
#update-button {
  top: 229px;
  position: relative;
  font-family: "Archivo Narrow", sans-serif;
  position: relative;
  left: 186px;
  height: 30px;
  width: 120px;
  background: rgba(70, 136, 241, 1);
  color: white;
  font-size: 13pt;
  border-radius: 7px;
  transition: 0.4s;
  border: none;
}
#update-button:hover {
  transition: 0.4s;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}
#favorite-source-update {
  top: 52px;
  position: relative;
}
#welcome-h1 {
  margin-top: 154px;
    text-align: center;
    font-size: 42pt;
    color: rgb(202, 249, 96);
    text-shadow: 0px 0px 42px rgba(0, 0, 0, .6);
}
#read-more {
  color: white;
  background: red;
  font-size: 7pt;
  padding: 3px;
  transition: 0.5s;
}
#read-more:hover {
  background-color: green;
  transition: 0.5s;
}
#footer-header {
  text-align: center;
  line-height: 52px;
}
#footer {
  position: relative;
  top: 217%;
  background: black;
  color: white;
  width: 100vw;
  height: 180px;
  box-shadow: 0 0 3px 0 black;
}
#footer-profile {
  position: absolute;
  bottom: -4706px;
  background: black;
  color: white;
  width: 100vw;
  height: 180px;
  box-shadow: 0 0 3px 0 black;
}
#footer-profile-fakenews {
  position: absolute;
  bottom: -5574px;
  background: black;
  color: white;
  width: 100vw;
  height: 180px;
  box-shadow: 0 0 3px 0 black;
}
#footer-links {
  position: relative;
  bottom: -828px;
  text-align: center;
  left: -234px;
}
#footer-links-profile {
  position: relative;
  left: 222px;
  letter-spacing: 3px;
  bottom: -5091px;
  left: -10px;
  text-align: center;
}
#footer-bottom-text {
  position: relative;
  text-align: center;
  font-family: "Archivo Narrow", sans-serif;
  bottom: -886px;
  font-size: 9pt;
  color: white;
}
#footer-bottom-text-profile {
  position: relative;
  text-align: center;
  font-family: "Archivo Narrow", sans-serif;
  bottom: -5104px;
  font-size: 9pt;
  color: white;
}
#footer-links ul {
  height: 0px;
  line-height: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  display: inline-block;
  position: relative;
  left: 600px;
  top: -20px;
  font-size: 7pt;
}
#footer-links li {
  height: 0px;
  line-height: 0px;
  padding-top: 25px;
  display: block;
  color: red;
  margin-top: 5px;
  display: inline-block;
  font-size: 11pt;
  position: relative;
  bottom: -33px;
  left: 225px;
  letter-spacing: 3px;
}
#footer-news-links ul {
  height: 0px;
  line-height: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  box-shadow: 0 0 7px black;
  display: inline-block;
  position: relative;
  left: 3500px;
  top: -20px;
  font-size: 7pt;
}
#footer-news-links li {
  height: 0px;
  line-height: 0px;
  padding-top: 25px;
  display: block;
  color: red;
  margin-top: 5px;
  display: list-item;
  font-size: 11pt;
}
#footer-social-media {
  width: 57px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8px;
}
#twitter {
  background-image: url("../assets/twitter.png");
  background-size: cover;
  background-position: center;
  height: 25px;
  width: 25px;
  display: inline-block;
  cursor: pointer;
  transition: 0.5s;
}
#insta {
  background-image: url("../assets/instagram.png");
  background-size: cover;
  background-position: center;
  height: 25px;
  width: 25px;
  display: inline-block;
  cursor: pointer;
  transition: 0.5s;
}
#twitter:hover {
  background-image: url("../assets/twitter2.png");
  transition: 0.5s;
}
#insta:hover {
  background-image: url("../assets/instagram2.png");
  transition: 0.5s;
}
.bullets {
  color: red;
}
#delete-button {
  top: 229px;
  position: relative;
  font-family: "Archivo Narrow", sans-serif;
  position: relative;
  left: 142px;
  height: 30px;
  width: 120px;
  background: red;
  color: white;
  font-size: 13pt;
  border: none;
  border-radius: 7px;
}
#delete-button:hover {
  transition: 0.4s;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.5);
  transform: translateY(-1px);
  color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}
#delete-label {
  text-align: center;
  font-family: "Archivo Narrow", sans-serif;
  font-size: 28pt;
  color: red;
  top: 75px;
  position: relative;
  left: 159px;
  line-height: 37px;
  width: 190px;
}
#checkBox {
  position: relative;
  top: 119px;
  left: 229px;
  height: 25px;
  width: 20px;
  margin-bottom: 13px;
  font-size: 13pt;
  margin: 12px;
  transform: scale(2, 2);
  box-shadow: 0 0 rgba(0, 0, 0, 0);
  border: none;
  border-radius: 7px;
}
#delete-div input {
  position: relative;
  top: 124px;
  height: 25px;
  width: 15px;
  margin-bottom: 13px;
  font-size: 13pt;
  margin: 12px;
}
#delete-div {
  margin-left: auto;
  margin-right: auto;
  height: 100vh;
  width: 500px;
  background: white;
  box-shadow: 0 0 17px rgba(0, 0, 0, 0.5);
  padding: 0 22px 0 22px;
  margin-top: 0px;
  z-index: -2;
}
#delete-form-html {
  overflow: hidden;
}

@media only screen
and (-webkit-min-device-pixel-ratio: 1.77) 
and (orientation : portrait) {
  #nav {
    height: 210px;
  }
  nav {
    height: 210px;
  }
  nav h1 {
    font-size: 12vw;
    padding-bottom: 5px;
  }

  #nav h1 {
    font-size: 12vw;
    padding-bottom: 5px;
  }

  #nav a {
    font-size: 34pt;
  }

  #temp,
  #city {
    display: none !important;
  }

  #title {
    margin: 234px auto 0 auto;
    font-size: 9vw;
  }
  #login-div{
    box-shadow: none;
    height: 39vh;
    transform: scale(3,3);
    top: 626px;
    position: relative;
    border-radius: 0px;
  }
  #login-nav{
    height: 145px;
  }
  #login-body{
    overflow: hidden;
  }
}
